form {
  /* Center the form on the page */
  position: relative;
  margin : 0 auto;
  width: 50vw;
  margin-bottom: 15vh;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: #E6E7FB;
}

input,
textarea {
  margin: 8px;
  margin-left: 2px;
  border: 2px solid #E6E6E7; 
  height : 4em;
  width: 100%;
  border-radius: 0.5em;
  padding-left: 8px;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border: 2px;
  border-color: #4E6C82;
  margin-left: 2px;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
     border: none;
     background-color: #6976D9;
     color: #fff;
     border-radius: 3px;
    margin: .5em;
    display:block;
    width: 98%;
    font-size: large;
    padding:0.5em;
}

button:hover{
  cursor: pointer;
}
