body
{
    background-image: url('Galaxy.jpg');
    background-size: 100%; 
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    align-items: center;
    color: white;
    background-repeat: no-repeat;
}